h1 {
    color: tomato;
    display: flex;
}
p {
    color: blue;
    font-weight: 500;
}
button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
img {
    width: 300px;
    height: auto;
}