h1 {
    color: salmon;
    display: flex;
}
p {
    color: green;
    font-weight: 500;
}
button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
img {
    width: 300px;
    height: auto;
}